<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>


<style>
body {background-color: yellow;}
h1    {color: red;}
#submit {background-color: blue;
        color: white;}
.container {text-align: center;}
</style>

</head>

<body>
    <div class=container>
    
    <img src="./https://media.gq.com/photos/59447d75165c2959e55471d0/3:2/w_1944,h_1296,c_limit/vegas-best-burgers.gif">
    <br>
    <h1>Eat-Da-Burger!</h1>
    <br>
    <input type="text" name="burger">
    <br>
    <input type="submit" value="Submit">
    <br>
    <p>Enter a burger you want to eat and then Click on the "Submit" button</p>
    {{{ body }}}
    
    </div>
</body>
</html>


